/* Upstream Bootstrap. */
@import "../../bootstrap/less/bootstrap3/variables.less";
@import "../../bootstrap/less/bootstrap3/mixins.less";
@import "../../bootstrap/less/bootstrap3/scaffolding.less";
@import "../../bootstrap/less/bootstrap3/type.less";
@import "../../bootstrap/less/bootstrap3/code.less";
@import "../../bootstrap/less/bootstrap3/tables.less";
@import "../../bootstrap/less/bootstrap3/wells.less";
@import "../../bootstrap/less/bootstrap3/buttons.less";
@import "../../bootstrap/less/bootstrap3/alerts.less";
@import "../../bootstrap/less/bootstrap3/thumbnails.less";
@import "../../bootstrap/less/bootstrap3/utilities.less";
@import "../../bootstrap/less/moodle/editor.less";

@import "variables.less";

@import "carousel";
@import "buttons";
@import "panels";
@import "navbar";
@import "tabs";
@import "alerts";

/* Miscellaneous theme less code
 * ----------------------------- */

/* Core overrides. */
.btn-shadow(@color) {
  #gradient > .vertical-three-colors(lighten(@color, 25%), @color, 60%, darken(@color, 10%));
  filter: none;
  border: 1px solid darken(@color, 10%);
}
#region-main {
    background-color: @white;
    border: 1px solid @gray-lighter;
    border-radius: @border-radius-large;
}
header {
    background-color: @brand-primary-lightest;
}

#page-login-index .maincontentwrap {
    border-radius:@border-radius-large;
}

/* Code. */
pre code {
    background: @brand-success-light;
    font-weight:600;
}

/* mod-assign */
.path-mod-assign a.btn.btn-primary {.btn-primary}
