/* This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Theme Flexibase css file.
 *
 * @package    theme_flexibase
 * @author     2015 Richard Oelmann
 * @copyright  2015 R. Oelmann
 * @copyright  Bootstrap - 2014 Bas Brands
 *             Essential - Julian Ridden, Gareth Barnard;
 *             Elegance - Julian Ridden, Danny Wahl;
 *             BCU - Jez H, Mike Grant
 *             Decaf - Paul Nichols
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

.coursebox > .info > .coursename a {
    font-weight: normal;
    font-size: 80%;
}

.coursebox > .info > h3.name, .course_category_tree .category > .info .name {
    font-size: 120%;
    font-weight: normal;
    margin: 0;
}

.coursebox .content {
    clear: none;
}

.coursebox {
    padding: 0 0;
    margin:10px;
}

.panel-body .courseimage img {
    float: right;
    margin-bottom: 10px;
    max-width: 60px;
    margin-left: 5px;
}

.coursebox.panel.hover .panel-heading {
    display: none;
}

.cimbox {
    height: 175px;
    position: relative;
    margin-right: -1px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.coursebox-content {
    padding: 5px 15px 10px;
    text-align: center;
}

.coursebox.hover .summary {
    min-height: 50px;
    overflow: auto;
    position: absolute;
    text-align: center;
    color: [[setting:rendereroverlayfontcolour]] !important;
    padding: 15px;
    top: 0px;
    left: 0px;
    display: none;
}

.coursebox.panel.hover .panel-body:hover .coursebox-content h3 a {
    color: [[setting:rendereroverlayfontcolour]] !important;
}

.coursebox.hover .teachers li a, .coursebox.hover .summary > a:link, .coursebox.hover .summary > a:visited {
    color: [[setting:rendereroverlayfontcolour]] !important;
}

.coursebox.hover .teachers {
    text-align: left;
    padding-top: 2px;
}

.coursebox.hover:hover .summary {
    height: auto;
    width: auto;
    min-width: 90%;
    min-height: 50px;
    display: block;
}

.coursebox.panel.hover .panel-body:hover {
    background: [[setting:rendereroverlaycolour]] !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.coursebox.panel .panel-body:hover .cimbox {
    opacity: .3;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.coursebtn.submit.btn {
    float: none;
    display: block;
    width: 100%;
    margin: 0px auto 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #eee;
    box-shadow: none;
    color: inherit;
    font-weight: 300;
    position: inherit;
}

.coursebox.panel.hover {
    height: 100%;
}

.coursebox.panel.hover .panel-body .coursebox-content h3 {
    font-weight: normal;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    line-height: normal;
}

.coursebox.hover .boxfooter {
    clear: none;
    margin-bottom: 0;
}

.coursebox .content .courseimage img {
    max-width: 300px;
}

.coursebox.panel {
    position: relative;
    height: 275px;
    margin-bottom: 20px;
}
.coursebox .summary {
	height:130px;
}
.coursebox .boxfooter {
    clear: both;
    margin-bottom: 30px;
}

.coursebox .coursebtn {
   bottom: 10px;
    position: absolute;
    right: 28%;
    width: 30%;
}

.coursebox.panel ul.teachers li {
    display: none;
}

.coursebox.panel ul.teachers li:first-child {
    display: block;
}

#changenumsections .smallicon {
    width: 24px;
}

#id_category, #id_parent {
    width: 100%;
    max-width: 100%;
}

.coursebox .panel-heading {
    padding: 12px 10px 10px;
}

.coursebox .panel-heading a {
    font-size: 105%;
    color:#fff;
}

#frontpage-course-list:after,
#frontpage-category-names:after,
#frontpage-category-combo:after,
#site-news-forum:after,
#frontpage-course-list:before,
#frontpage-category-names:before,
#frontpage-category-combo:before,
#site-news-forum:before {
      content: " ";
    display: table;
    clear:both;
}

.categoryicons #frontpage-category-combo .collapsible-actions,
.categoryicons .course_category_tree .collapsible-actions,
.categoryicons .frontpage-category-names .collapsible-actions {
    display:none;
}
.categoryicons .frontpage-category-names.course_category_tree .category.with_children>.info>.categoryname,
.categoryicons .frontpage-category-names.course_category_tree .category>.info>.categoryname {
    line-height:15px;
}
.categoryicons .category-browse{
    overflow:auto;
    width:100%;
}
.categoryicons .course_category_tree .category.with_children.collapsed>.info>.categoryname,
.categoryicons .course_category_tree .category.with_children>.info>.categoryname,
.categoryicons .course_category_tree .category>.info>.categoryname {
    background-image:none !important;
    padding:0;
    margin:0;
}
.categoryicons .course_category_tree .category.dimmed_category{
    border-color:#AAA;
}
.categoryicons .course_category_tree .category{
    float:left;
    margin:0 5px 10px;
}
.categoryicons .course_category_tree .category .numberofcourse{
    background:#666;
    color:#fff;
    padding:7px;
    border-radius:50%;
    position:relative;
    top:8px;
    left:80%;
    font-weight:600;
    font-size:1em;
    -moz-box-shadow:1px 1px 5px 0 #ccc;
    -webkit-box-shadow:1px 1px 5px 0 #ccc;
    box-shadow:1px 1px 5px 0 #ccc;
    border:2px solid #fff;
}
.categoryicons .course_category_tree .category .content {
    display:none;
}
.categoryicons .course_category_tree .category .info .name {
    padding:0;
    text-align:center;
}
.categoryicons .course_category_tree .category>.info,.categoryicons .course_category_tree .category>.info>.categoryname {
    background:0 0;
    border:0;
    text-align:center;
    box-shadow:none;
    margin:0;
}
.categoryicons .course_category_tree .category>.info a,
.categoryicons .course_category_tree .category>.info>.categoryname a {
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    width:176px;
}
.categoryicons .course_category_tree .category>.info a>i,
.categoryicons .course_category_tree .category>.info>.categoryname a>i {
    padding-top:6px;
}
.categoryicons .course_category_tree .category>.info a>span,
.categoryicons .course_category_tree .category>.info>.categoryname a>span {
    font-size:18px;
}
.categoryicons .course_category_tree .fa {
    font-size:140px;
    width:100%;
}
.categoryicons .course_category_tree .category[data-categoryid]:hover {
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
}
.categoryicons .course_category_tree .category[data-categoryid]>.info>.categoryname a{
    line-height:30px;
}
.categoryicons .course_category_tree .category[data-categoryid]>.info>.categoryname a:hover {
    text-decoration:none;
}
.categoryicons .course_category_tree .content .teachers .fa {
    display:inline;
    font-size:inherit;
}
.categoryicons .jsenabled .course_category_tree .controls {
    display:none;
}
.categoryicons .subcategories+.category-browse {
    clear:both;
}
.course_category_tree .coursebox .content .courseimage {
    float:left;
    width:30%;
}
.course_category_tree .coursebox .content .summary {
    float:right;
    width:65%;
}
.course_category_tree .coursebox, .block_course_overview .coursebox {
    border-bottom:2px solid #ccc;
}
