/* This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Theme Flexibase css file.
 *
 * @package    theme_flexibase
 * @author     2015 Richard Oelmann
 * @copyright  2015 R. Oelmann
 * @copyright  Bootstrap - 2014 Bas Brands
 *             Essential - Julian Ridden, Gareth Barnard;
 *             Elegance - Julian Ridden, Danny Wahl;
 *             BCU - Jez H, Mike Grant
 *             Decaf - Paul Nichols
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

/* Custom CSS - selectors with significant settings
 * ------------------------------------------------- */
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    background-size: 100% auto;
    display: [[logodisplay]];
    float: left;
    height: [[logoheight]];
    margin: 10px 0;
    padding: 0;
    width: [[logowidth]];
}
.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    float: right;
}
.navbar-image {
    background: url([[setting:minilogo]]) no-repeat;
    background-size: 100% auto;
    display: [[minilogodisplay]];
    float: left;
    height: [[minilogoheight]];
    width: [[minilogowidth]];
    margin-right:5px;
}
.dir-rtl .navbar-image {
    background: url([[setting:minilogo]]) no-repeat;
    float: right;
}
#page-login-index .maincontentwrap {
    background:url([[setting:loginbg]]) no-repeat;
    background-size: 100% 100%;
    height: [[loginbgheight]];
    width: [[loginbgwidth]];

}
.carousel {
    border:10px solid [[setting:carouselbordercolour]];
    background-color:[[setting:carouselbordercolour]];
}
.carousel-inner {
    background-color:[[setting:carouselbordercolour]];
}
@media (min-width: 481px) {
    .carousel-caption {
        background-color: [[setting:captionbackgroundcolour]];
        border:5px solid [[setting:captionbackgroundcolour]];
    }
    .carousel-caption p.carousel-caption-text,
    .carousel-caption h1 {
        color: [[setting:captiontextcolour]] ;
    }
}
/* Course images
 * ------------- */
.headerimage.withimage {
    height:[[setting:courseheaderimageheight]];
    background-size: cover;
    background-repeat:no-repeat;
}
/* Course Box.
 * ----------- */
.coursebox.hover .summary,
.block_course_overview .coursebox:hover .summary {
    color:[[setting:rendereroverlayfontcolour]] !important;
}
.coursebox.panel.hover .panel-body:hover .coursebox-content h3 a {
    color:[[setting:rendereroverlayfontcolour]] !important;
}
.coursebox.hover .teachers li a,
.coursebox.hover .summary > a:link,
.coursebox.hover .summary > a:visited {
    color:[[setting:rendereroverlayfontcolour]] !important;
}
.block_course_overview .coursebox:hover .summary a {
    color:[[setting:rendereroverlayfontcolour]] !important;
    font-weight:700;
}
.block_course_overview .coursebox .courseboxactivitynotice {
    background:[[setting:rendereroverlaycolour]];
    color:[[setting:rendereroverlayfontcolour]]
}
.coursebox.panel.hover .panel-body:hover,
.block_course_overview .coursebox:hover .summary {
    background:[[setting:rendereroverlaycolour]] !important;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.categoryicons .course_category_tree .fa {
    font-size:[[setting:categoryiconsize]];
    width:100%;
}
/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
