/* This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Theme Flexibase css file.
 *
 * @package    theme_clean
 * @author     2015 Richard Oelmann
 * @copyright  2015 R. Oelmann
 * @copyright  Bootstrap - 2014 Bas Brands
 *             Essential - Julian Ridden, Gareth Barnard;
 *             Elegance - Julian Ridden, Danny Wahl;
 *             BCU - Jez H, Mike Grant
 *             Decaf - Paul Nichols
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

/* Marketing Spots CSS
 * ------------------- */

/* Flexbox layout for marketing. */
.marketing-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width:100%;
    margin-bottom:5px;
}
.marketing-block {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;

    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
    margin:0 5px;
    text-align:center;
}
/* Styles for marketing blocks */
.marketing-block.panel .panel-title {
    font-size:175%;
}
.marketing-block .fa-stack {
    font-size:300%;
}
.marketing-block-content {
    padding: 5px 10px;
}
.marketing-block-content h3 {
    margin-top:0;
}
/* no need for evenmkting1 setting as that is 100% anyway */
.evenmkting2 .marketing-block {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;

    flex: 1 1 50%;
}
.evenmkting3 .marketing-block {
    -webkit-flex: 1 1 33.3%;
    -ms-flex: 1 1 33.3%;

    flex: 1 1 33.3%;
}
.evenmkting4 .marketing-block {
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;

    flex: 1 1 25%;
}
