/* This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Theme Flexibase css file.
 *
 * @package    theme_flexibase
 * @author     2015 Richard Oelmann
 * @copyright  2015 R. Oelmann
 * @copyright  Bootstrap - 2014 Bas Brands
 *             Essential - Julian Ridden, Gareth Barnard;
 *             Elegance - Julian Ridden, Danny Wahl;
 *             BCU - Jez H, Mike Grant
 *             Decaf - Paul Nichols
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('[[font:theme|glyphicons-halflings-regular.eot]]');
    src: url('[[font:theme|glyphicons-halflings-regular.eot]]?#iefix') format('embedded-opentype'),
         url('[[font:theme|glyphicons-halflings-regular.woff]]') format('woff'),
         url('[[font:theme|glyphicons-halflings-regular.ttf]]') format('truetype'),
         url('[[font:theme|glyphicons-halflings-regular.svg]]') format('svg');
}
body {
    margin-top:25px;
}
hr.sep {
    margin-top:0;
    margin-bottom:0;
}

/* Header
 * ------ */
.socials {
    margin-right:80px;
}
.socials .socialicon {
    float:right;
}
.headerlogo {
    padding-left:5px;
}
body.has_dock .moodleheader .container-fluid {
    padding-left:0;
}
.moodleheader{
    min-height:60px;
}

/* Navbar
 * ------ */


/* Breadcrumbs.
 * ------------ */
.breadcrumbcourse a{ /* Style added to new class on breadcrumb to highlight course. */
    font-weight:900;
}
.breadcrumbcategory a{ /* Style added to new class on breadcrumb to highlight category */
    font-weight:inherit; /* Does nothing, but acts as placeholder for other styling - requested feature */
}

/* Dock
 * ---- */
#dock .dockeditem_container {
    margin-top:67px;
}
#dockeditempanel {
    min-width:250px;
}
.block_docked .content {
    padding: 4px;
}
.dockeditempanel_bd, .dockeditempanel_hd {
    border:1px solid #000;
}
.has_dock .navbar-header {
    padding-left:30px;
    margin-left:30px;
}

/* Theme Settings nav
 * ------------------ */
.themesettingsnav h3 {
    margin-top:0;
}
.themesettingsnav {
    margin-bottom:15px;
}

/* Forms
 * ----- */
form label {
    margin-right:10px;
}
.mform .fitem .fitemtitle {
    min-height: 1px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}
.mform fieldset.collapsible legend a.fheader {
    margin-left: -5px;
}

/* Screen size adjustments
 * ----------------------- */
@media (max-width:1200px) {
    .navbaruserpicture img {
        height:75px;
        width:75px;
        border-radius:25px;
        border: 2px ridge #fff;

    }
    .socials {
        margin-right:65px;
    }
    .navbar-right {
        margin-right:65px;
    }
}
@media (max-width: 768px) {
    .socials {
        margin-right:0;
    }
    .navbar-right {
        margin-right:-15px;
    }
}

/* Login Page
 * ---------- */
.loginbox .loginpanel {
    margin-bottom:0;
    filter:alpha(opacity=90); /* IE */
    -moz-opacity:0.9; /* Mozilla */
    opacity:0.9;
}
.loginbox .signuppanel {
    background-color: #fff;
    filter:alpha(opacity=80); /* IE */
    -moz-opacity:0.8; /* Mozilla */
    opacity:0.8;
    border-radius:6px;
}

/* Course images
 * ------------- */
.courseimage {
    display:none;
}
.courseimage.withimage {
    display:block;
    width:600px;height:300px;
    margin:auto;
    border:3px solid #000;
    border-radius:18px;
    background-size: 600px 300px;
    background-repeat:no-repeat;
}




#frontpage-course-list:after,
#frontpage-category-names:after,
#frontpage-category-combo:after,
#site-news-forum:after,
#frontpage-course-list:before,
#frontpage-category-names:before,
#frontpage-category-combo:before,
#site-news-forum:before {
    content:" ";
    display:table;
    clear:both;
}


.course_category_tree .coursebox .content .courseimage {
    float:left;
    width:30%;
}
.course_category_tree .coursebox .content .summary {
    float:right;
    width:65%;
}
.course_category_tree .coursebox,
.block_course_overview .coursebox {
    border-bottom:2px solid #ccc;
}


/* RTL Adjustments.
 * ---------------- */
.dir-rtl .dropdown-submenu > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    margin-right: -1px;
    right: 100%;
}
.dir-rtl .dropdown-submenu > a:after {
    border-color: transparent rgba(0, 0, 0, 0.15) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: " ";
    display: block;
    float: left;
    height: 0;
    margin-left: -10px;
    margin-top: 5px;
    width: 0
}
.dir-rtl .form-item .form-label, .dir-rtl .mform .fitem div.fitemtitle {
    float: right;
    text-align: left;
}
.dir-rtl .mform fieldset.collapsed legend a.fheader,
.dir-rtl .collapsible-actions .collapseexpand {
    background-image: url([[pix:core|t/collapsed_rtl]]);
}
.dir-rtl .mform fieldset.collapsible legend a.fheader {
    background-position: right center;
    margin-left: 0;
    margin-right: -5px;
    padding: 0 20px 0 5px;
}
.dir-rtl .mform .iconhelp {
    float: right;
    margin-right:4px;
}
.dir-rtl .collapsible-actions .collapseexpand {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
}
.dir-rtl th {
    text-align: right;
}
dir-rtl .userenrolment .col_userdetails .subfield_picture {
    float: right;
    margin: 0 5px;
}
.dir-rtl .ygtvtn,
.dir-rtl .ygtvtm,
.dir-rtl .ygtvtmh,
.dir-rtl .ygtvtmhh,
.dir-rtl .ygtvtp,
.dir-rtl .ygtvtph,
.dir-rtl .ygtvtphh,
.dir-rtl .ygtvln,
.dir-rtl .ygtvlm,
.dir-rtl .ygtvlmh,
.dir-rtl .ygtvlmhh,
.dir-rtl .ygtvlp,
.dir-rtl .ygtvlph,
.dir-rtl .ygtvlphh,
.dir-rtl .ygtvdepthcell,
.dir-rtl .ygtvok,
.dir-rtl .ygtvok:hover,
.dir-rtl .ygtvcancel,
.dir-rtl .ygtvcancel:hover {
    background-image: url([[pix:core|yui2-treeview-sprite-rtl]]);
}
caption {
    text-align: center;
}
.dir-rtl .navbar-header {
    float: right;
}
.dir-rtl .navbar-right {
    float: left !important; /* !important required to override another !important in inherited upstream css */
    margin-left: 85px;
}
.dir-rtl .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 0;
}
.dir-rtl .navbar-nav > li {
    float: right;
}
.dir-rtl .navbaruserpicture {
    left: 105px;
    right:100%;
}
body.has_dock.dir-rtl .navbar-collapse {
    padding-right: 40px;
}
.dir-rtl header .pull-right {
    float:left !important; /* !important required to override another !important in inherited upstream css */
}
.dir-rtl header .pull-left {
    float:right !important; /* !important required to override another !important in inherited upstream css */
}
.dir-rtl .socials {
    margin-right:0;
    margin-left:85px;
}
.dir-rtl .socialicon {
    float:left;
}
.dir-rtl .dropdown-menu {
    font-size: 14px;
    list-style: outside none none;
    text-align: right;
}
.dir-rtl .navbar-nav {
    float: right;
}
.dir-rtl .close {
    float:left;
}
.dir-rtl .block .header .block_action {
    float: left;
}
.dir-rtl .breadcrumb-nav {
    float: right;
}
.dir-rtl .breadcrumb-button {
    float: left;
}
.dir-rtl form label {
    margin-left:10px;
}





/* Forums
 * ------ */
.forumpost {
    padding:0;
}
.forumpost .row.header {
    padding:8px;
}
.forumpost .row.maincontent {
    padding:8px;
}
.forumpost .subject {
    font-size:160%;
}
.forumpost .picture img {
    height:46px;
    width:46px;
}



/* Block Regions
 * ------------- */
.editing .block-region {
    min-height:150px;
    min-width:100px;
    border:dotted 3px gray;
}
#region-adminbottom, #region-teachbtm, #region-creatorbtm {
    text-align:left;
}



/* Alignment issues
 * ---------------- */
#coursesearch.form-inline .btn {
    margin-top:-6px;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol,
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion.movediscussion {
    width:auto;
    float:right;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol.movediscussion.movediscussion {
    margin-top:0;
}
/* Bring Course category page controls onto single line. */
#page-course-index-category .categorypicker, #page-course-index-category #coursesearch {
    float:right;
    width:auto;
    margin:0 0 0 20px;
}


/* Style fixes
 * ----------- */
.section .label .mod-indent-outer {display: table;} /* Correct upstream bug that prevented indented labels. */
.nav-tabs.nav-justified {width: auto;} /* Override tabs width setting to prevent overlap. */
.block .minicalendar th, .block .minicalendar td  {padding: 0;} /* Remove overlap of minicalendar block on smaller screens. */
.flexibasecats.panel.withicon {height: 230px;} /* Fix height of category panels with icon. */
.eventlist .event .icon {display:none;} /* Hide calendar icon on event view. */
.eventlist .event h3 {margin-top:0;} /* Then improves the top spacing as well. */
div math mfrac mi {font-size: 0;visibility: hidden;} /* Hide text produced by one of the modernizr.js tests */
.block_navigation .block_tree .tree_item.hasicon {white-space: normal; word-wrap: break-word;} /* Fix overflow bug in
                                                                                                * block_navigation and
                                                                                                * block_course_menu */
#block-region-side-alert.sidealert .block .header.panel-heading {display:none;}
.editing #block-region-side-alert.sidealert .block .header.panel-heading {display:block;}

.pagelayout-secure aside#block-region-side-pre .block {display:none;}
.pagelayout-secure aside#block-region-side-pre #mod_quiz_navblock.block {display:block;}
body.pagelayout-secure {margin-top:0;}
