#region-main {
	background-color: #fff;
	border: 1px solid #b6c3ea;
	border-radius: 6px;
}
input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input {
    background-color: #001122;
    border-color: #001122;
    color: #fff;
}
.navbar {
	margin-bottom: 10px;
}
.navbar-right .dropdown-menu {
    z-index: 2000;
}
hr.sep {
	margin-top:0;
	margin-bottom:0;
}
